body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}

#title {
    font-size: 4rem;
    font-family: Arial, sans-serif;
    color: hsl(200, 100%, 61%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: 2px solid;
    border-radius: 16px;
}

.watch {
    font-size: 4rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 30%, 0.4);
    margin-bottom: 25px;
}

.buttons button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 120px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#start {
    background-color: hsl(120, 100%, 50%);
}

#start:hover {
    background-color: hsl(120, 100%, 40%);
}

#stop {
    background-color: hsl(0, 100%, 50%);
}

#stop:hover {
    background-color: hsl(0, 100%, 40%);
}

#reset {
    background-color: hsl(240, 100%, 50%);
}

#reset:hover {
    background-color: hsl(240, 100%, 40%);
}

@media screen and (max-width:1000px) {
.watch {
    font-size: 3.5rem;
}
.buttons button {
    min-width: 10px;
    padding: 10px 15px;
}
}
@media screen and (max-width:360px) {
.watch {
    font-size: 3rem;
}
.buttons button {
    min-width: 10px;
    padding: 10px 12px;
}
}